@import "./styles/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 46px !important;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: #e5e7eb !important;
  border-radius: 8px !important;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.react-tel-input .form-control {
  width: 100% !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 8px !important;
  outline: none !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.react-tel-input .form-control:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 2px #0072cf !important;
}
.react-tel-input .form-control:disabled {
  background-color: #fafafa !important;
  cursor: not-allowed !important;
}
